* {
     margin: 0;
     padding: 0;
     font-family: "Alata", serif;
     /* font-family: "Josefin Sans", serif; */
}

header {
     width: 100%;
     position: fixed;
     top: 0;
     padding: 40px 150px;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: space-between;
     transition: background-color 1s ease;
     z-index: 1;
}

.nav-desktop {
     margin-right: 220px;
}

.nav-desktop > ul {
     list-style: none;
     display: flex;
     align-items: center;
}

.nav-desktop > ul li {
     color: white;
     margin-right: 30px;
}
.container {
     display: none;
}

.nav-mobile {
     display: none;
}

.hamburger-icon {
     display: none;
}

.close-icon {
     display: none;
}

.hero-img {
     background-image: url("/images/desktop/image-hero.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 800px;
     display: grid;
     align-items: center;
}

.hero-img > h3 {
     max-width: 530px;
     font-size: clamp(50px, 5vw, 70px);
     margin-left: 160px;
     border: 1px solid white;
     padding: 30px 40px;
     color: white;
     text-transform: uppercase;
     font-weight: 300;
     font-family: "Josefin Sans", serif;
}

.sec-1 {
     display: flex;
     margin-top: 160px;
     align-items: center;
     justify-content: center;
}

.sec-1__text {
     background-color: white;
     padding: 80px;
     width: 100%;
     max-width: 600px;
     position: relative;
     top: 160px;
     right: 150px;
     border: 1px solid;
}

.sec-1__text > h2 {
     font-family: "Josefin Sans", serif;
     font-weight: 300;
     text-transform: uppercase;
     margin-bottom: 40px;
     font-size: clamp(30px, 5vw, 70px);
     max-width: 600px;
     width: 100%;
}

.sec-1__text > p {
     color: hsl(0, 0%, 55%);
     line-height: 1.5;
     font-weight: 400;
     font-size: 20px;
}

.sec-2 {
     display: grid;
     align-items: center;
     width: 100%;
     max-width: 1600px;
     margin: 0 auto;
     margin-top: 160px;
}

.creation-text {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 40px 0;
}

.creation-text > h2 {
     font-size: clamp(20px, 5vw, 40px);
     text-transform: uppercase;
     font-family: "Josefin Sans", serif;
     font-weight: 300;
     margin-left: 40px;
}

.creation-text > button {
     /* font-family: "Josefin Sans", serif; */
     /* font-weight: 300; */
     text-transform: uppercase;
     padding: 5px 40px;
     background-color: transparent;
     border: 1px solid gray;
     margin-right: 95px;
}

.cards {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
     width: 100%;
     max-width: 1600px;
     margin: 0 auto;
}

.cards .card {
     margin-right: 50px;
     margin-bottom: 50px;
     position: relative;
}

.card img {
     width: 328px;
     height: auto;
}

.card h3 {
     position: absolute;
     top: 480px;
     color: white;
     left: 40px;
     font-weight: 300;
     font-size: 30px;
     text-transform: uppercase;
     font-family: "Josefin Sans", serif;
}

footer {
     display: grid;
     align-items: center;
     background-color: black;
     padding: 40px 160px;
     max-width: 100%;
}

.logo-and-social {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.social-media {
     display: flex;
     align-items: center;
}

.social-media svg {
     margin-right: 20px;
}

.contact {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.contact > ul {
     display: flex;
     align-items: center;
     list-style: none;
}

.contact > ul li {
     margin-right: 40px;
     text-transform: uppercase;
     font-weight: 300;
     font-family: "Josefin Sans", serif;
     color: white;
     margin-top: 40px;
}

.contact > h4 {
     color: rgb(114, 111, 111);
     font-weight: 300;
     font-family: "Josefin Sans", serif;
}

.attribution {
     color: rgb(134, 131, 131);
     margin-top: 20px;
}

.attribution a {
     color: white;
}

@media (min-width: 320px) and (max-width: 1118px) {
     header {
          padding: 40px 0;
     }

     .logo {
          margin-left: 40px;
     }

     .nav-desktop {
          display: none;
     }

     .hamburger-icon {
          display: block;
          margin-right: 80px;
     }

     .hero-img {
          background-position: center;
     }

     .hero-img > h3 {
          font-size: clamp(15px, 5vw, 50px);
          max-width: 350px;
          margin: 0 auto;
          padding: 30px 10px;
     }

     .sec-1 {
          flex-direction: column;
          padding: 40px 0;
     }

     .sec-1 > img {
          max-width: 100%;
     }

     .sec-1__text {
          background-color: white;
          position: static;
          border: none;
          padding: 0;
          margin: 0 80px;
          margin-top: 80px;
     }

     .sec-1__text > h2 {
          text-align: center;
     }
     .sec-1__text > p {
          margin: 0 auto;
          text-align: center;
     }

     footer {
          display: grid;
          align-items: center;
          background-color: black;
          padding: 40px 160px;
          max-width: 100%;
          justify-content: center;
     }

     .logo-and-social {
          display: grid;
          align-items: center;
     }

     .social-media {
          display: flex;
          align-items: center;
          margin-top: 20px;
     }

     .social-media svg {
          margin-right: 20px;
     }

     .contact {
          display: grid;
          align-items: center;
     }

     .contact > ul {
          display: grid;
          align-items: center;
          list-style: none;
          justify-content: center;
          margin-bottom: 20px;
     }

     .contact > ul li {
          text-transform: uppercase;
          font-weight: 300;
          font-family: "Josefin Sans", serif;
          color: white;
          margin-top: 40px;
     }

     .contact > h4 {
          color: rgb(114, 111, 111);
          font-weight: 300;
          font-family: "Josefin Sans", serif;
     }

     .attribution {
          color: rgb(134, 131, 131);
          margin-top: 20px;
          display: grid;
          align-items: center;
     }

     .attribution a {
          color: white;
     }

     /* .container__navMobile {
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: -830px;
          background-color: black;
          flex-direction: column;
     } */

     /* .logo-and-closeIcon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          padding-top: 40px;
     } */

     .container {
          background-color: black;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: -900px;
          display: none;
          transition: 1s background-color ease;
     }
     .nav-mobile {
          display: grid;
          align-items: center;
          padding: 80px 40px;
     }

     .logo-and-iconClose {
          display: flex;
          align-items: center;
          justify-content: space-between;
     }

     .logo-and-iconClose > .logo {
          margin: 0;
     }

     .nav-mobile > ul {
          color: white;
          list-style: none;
          margin-top: 160px;
     }

     .nav-mobile > ul li {
          font-size: 50px;
          font-family: "Josefin Sans", serif;
          font-weight: 300;
          text-transform: uppercase;
          margin-top: 30px;
          cursor: pointer;
     }
}
