* {
     margin: 0;
     padding: 0;
     font-family: "Alata", serif;
     /* font-family: "Josefin Sans", serif; */
}

header {
     width: 100%;
     position: fixed;
     top: 0;
     padding: 40px 150px;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.nav-desktop {
     margin-right: 220px;
}

.nav-desktop > ul {
     list-style: none;
     display: flex;
     align-items: center;
}

.nav-desktop > ul li {
     color: white;
     margin-right: 30px;
}

.nav-mobile {
     display: none;
}

.hamburger-icon {
     display: none;
}

.close-icon {
     display: none;
}

.hero-img {
     background-image: url("/images/desktop/image-hero.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     height: 800px;
     display: grid;
     align-items: center;
}

.hero-img > h3 {
     max-width: 530px;
     font-size: clamp(30px, 5vw, 70px);
     margin-left: 80px;
     border: 1px solid white;
     padding: 30px 40px;
     color: white;
     text-transform: uppercase;
     font-weight: 300;
     font-family: "Josefin Sans", serif;
}

.sec-1 {
     display: flex;
     margin-top: 160px;
     align-items: center;
     justify-content: center;
}

.sec-1__text {
     background-color: white;
     padding: 80px;
     width: 100%;
     max-width: 600px;
     position: relative;
     top: 160px;
     right: 150px;
}

.sec-1__text > h2 {
     font-family: "Josefin Sans", serif;
     font-weight: 300;
     text-transform: uppercase;
     margin-bottom: 40px;
     font-size: clamp(30px, 5vw, 70px);
     max-width: 600px;
}

.sec-1__text > p {
     color: hsl(0, 0%, 55%);
     line-height: 1.5;
}

.sec-2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     padding-top: 50px;
}

.creation-text {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.cards {
     display: grid;
     grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

@media (min-width: 320px) and (max-width: 1118px) {
     header {
          padding: 40px 80px;
     }

     .nav-desktop {
          display: none;
     }

     /* .container__navMobile {
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: -830px;
          background-color: black;
          flex-direction: column;
     }

     .logo-and-closeIcon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px;
          padding-top: 40px;
     }

     .nav-mobile {
     }

     .nav-mobile > ul {
          list-style: none;
     }

     .nav-mobile > ul li {
          color: white;
     }

     .hamburger-icon {
          display: block;
     }
     .close-icon {
          display: block;
     } */
}
